@charset "UTF-8";


h1 {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 20px;
}

h2 {
  margin-top: 40px;
  font-size: 18px;
  border-bottom: 2px solid #ff7a3c;
  padding-bottom: 6px;
}

p {
  margin: 10px 0;
}

iframe {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-top: 16px;
}

ul {
  padding-left: 20px;
  margin-top: 10px;
}

li {
  margin-bottom: 8px;
}

.MAPTOP {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -5px;
  font-size: 40px;
  
}

.MAPSUB {
  text-align: center;
  margin-top: -10px;
  font-size: 24px;
  color: #555;
}

.place {
  margin: 0 auto;
}

.map {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto 40px;
  border-radius: 8px;
}

.PDF{
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #ff7a3c;
  text-decoration: none;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.PDF:hover{
  text-decoration: underline;
  cursor: pointer;
  transform: translateY(-2px); /* 軽く浮き上がる演出 */
}

.link-button {
  display: inline-block;
  align-items: center;
  margin: 15px auto 0 auto;
  text-align: center;
  padding: 10px 20px;
  background-color: #00bccd;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
}

@media screen and (max-width: 480px) {

  body{
    padding: 0 10px;
  }
  h1 {
    font-size: 22px;
  }

  iframe {
    height: 240px;
  }
}


/* PC用 (1280px以上) */
@media (min-width: 1280px) {
    body { overflow: hidden; } 
    
    main {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: calc(100vh - 70px);
        padding-top: 10px;
    }

    .container{
        max-width: 765px;
    }

    /* カスタムスクロールバー */
    .container::-webkit-scrollbar { width: 8px; }
    .container::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.3); }
    .container::-webkit-scrollbar-thumb { background: rgba(0, 188, 212, 0.5); border-radius: 4px; }
}