@charset "UTF-8";

.ticket-topfont{
    text-align: center;
    font-size: 30px;
}

.ticket-topfont h2{
    margin-bottom: -30px;
    font-size: 50px;
}

.ticket-pay{
    background-color: #71DCC4;
    padding: 10px 0 10px 0;
}

.SalesPeriod{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 30px;
}

table{
    width: 40%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: centers;
}

table, th, td{
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

td{
    text-align: center;
}

button{
    background-color: #FF8E45;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.buttons{
    text-align: center;
    margin: 35px 0 30px 0;
}

.buttons a{
    text-decoration: none;
}

button a{
    text-decoration: none;
    color: white;
}

.ticket-method{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

img{
    display: block;
    width: 100px;
}

article{
    width: 25%;
    margin:  0 auto;
    border: #000000 2px solid;
    margin-bottom: 10px;
}

article h4{
    display: flex;
    font-size: 30px;
    align-items: center;
    height: 50px;
    margin-left: 10px;  
}

article p{
    margin-left: 20px;
}

.ticket-method-note{
    margin-top: 20px;
    display: flex;
}

.pay-font{
    margin-left: 10px;
}

.ticket-all{
    margin-bottom: 3rem;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  opacity: 0;
  transition: opacity 0.5s, scale 0s 0.5s;
  scale: 0;
}

.modal:target {
  opacity: 1;
  transition: opacity 0.5s;
  scale: 1;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;  
  text-decoration: none;
  cursor: pointer;
  transform: translate(50%, -50%);
  color: black;
}

.modal-wrapper {
  position: relative;
  width: 80%;
  max-width: 700px;
  max-height: 70%;
  padding: 20px;
  margin: auto;
  overflow: scroll;
  background-color: #FEFEFE;
  border-radius: 5px;
}

.modal-content h1 {
  margin: 0;
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.tiket-bay{
    text-align: center;
    margin-bottom: 3rem;
}


@media screen and (max-width: 1000px){

    table{
        width: 70%;
    }

    .SalesPeriod{
        font-size: 18px;
        padding: 0 10px;
    }

    .ticket-topfont{
        font-size: 22px;
    }

    .ticket-topfont h2{
        font-size: 36px;
        margin-bottom: -15px;
    }

    .ticket-method-note{
        display: block;
        align-items: center;
    }

    article{
        width: 70%;
    }

    article h4{
        font-size: 30px;
        align-items: center;
    }

    img{
        width: 90px;
    }

    .ticket-method{
        font-size: 30px;
    }

    td{
        padding: 20px;
    }

    .buttons{
        h2{
            font-size: 48px;
        }

        p{
            font-size: 35px;
        }
    }

    .close{
        font-size: 60px;
    }
    
    button{
        padding: 20px 30px;
        font-size: 25px;
    }
}
